<div>  
    <div class="text-center" v-center>
      <h1 class="text-center" style="color: purple; font-family: Radley, serif; font-size:10em; text-shadow: 2px 2px black;">VipBook</h1>
      <br>
      <br>
      <h2 class="text-center" style="font-family: Radley, serif; color: #333">Todos os vips. Na primeira pessoa.</h2>
      <br>
      <i class="icon-refresh icon-spin" style="font-size: 3em;"></i>
      <p class="muted">A carrregar...</p>
    </div>
</div>