<div ng-show="Post.loadedOnce">
    
    <!-- Header -->

    <input type="text" class="search pull-right hidden-phone" placeholder="procurar vip..." ng-model="search.from_name">
    <div ng-include=" 'header.html' " class="clearfix"></div>
  
    <div class="text-center hidden-phone" style="margin-top: 10px; margin-bottom: 20px;">
      <pill-select options="Category.list" selected="Category.selected" on-selection="showCategory($selected)">
      </pill-select>
    </div>

    <div class="text-center visible-phone">
      <select ng-model="Category.selected" ng-options="category for category in Category.list" ng-change="showCategory(Category.selected)">
      </select>
    </div>

    <!-- Posts -->

    <ul class="thumbnails newsfeed">
      <li class="span4" ng-repeat="post in Post.visiblePosts" ng-show="post.picture || post.source || post.message">
        <div class="thumbnail">
          <div style="position:relative; height: 370px;">
            <div class="crop" video-player-icon="post.source" on-icon-click="post._showVideo=true" ng-hide="post._showVideo" scroll-img-on-enter expand-height>
              <img ng-src="{{(post.picture || post.cover_source) | big}}">
            </div>
            <div class="crop" ng-show="post._showVideo">
              <iframe type="text/html" ng-src="{{post.source | blockOn: post._showVideo | html5VideoUrl }}" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div>
              <h4 class="name">{{post.from_name}}</h4>
              <div class="crop-text">
                <div class="crop-text-inner">
                  <p class="message">{{post.message}}</p>
                </div>
              </div>
            </div>
            <div style="position: absolute; bottom: 0; left: 0; background: white">
              <span class="muted">{{post.updated_time | date}}</span>
            </div>
            <div style="position: absolute; bottom: 0; right: 0; background: white">
                <a ng-click="showPost(post)" tooltip="Ver apenas este post">
                  <i class="icon-eye-open" style="color: purple; font-size: 1.2em;"></i>
                </a>
                <a href="https://facebook.com/{{post.object_id}}" target="_blank" tooltip="Ver no facebook">
                  <i class="icon-facebook-sign" style="color: purple; font-size: 1.2em;"></i>
                </a>
            </div>
          </div>
        </div>
      </li>
    </ul>


    <!-- Load More -->

    <div class="text-center">
      <span ng-show="!Post.loadOnce"><br></span>
      <span ng-show="Post.loading"><i class="icon-refresh icon-spin"></i> A carregar...</span>
    </div>

    <div class="text-center" ng-show="Post.visiblePosts.length" ng-hide="Post.loading">
      <button class="btn btn-link" ng-click="more()" style="margin-bottom: 20px;">Ver mais</button>
    </div>
  
</div>