<!-- Header -->

<button class="btn btn-primary pull-right" style="background: purple;" ng-click="goBack()">Voltar</button>
<div ng-include=" 'header.html' " class="clearfix"></div>

<hr>

<!-- Post-->
<div class="text-center" ng-click="showOther($event)">
	<div class="crop-post" ng-show="(post.picture || post.cover_source) && !post.source"  scroll-img-on-enter expand-height>
	  <img ng-src="{{(post.picture || post.cover_source) | big}}">
	</div>
	<div class="crop-post" ng-show="post.source">
	  <iframe type="text/html" src="{{post.source | html5VideoUrl | noAutoPlay}}" frameborder="0" autoplay="false" style="width: 100%; height: 100%;"></iframe>
	</div>
	<div>
	  <h4 class="name">{{post.from_name}}</h4>
	  <div class="crop-text">
	    <div class="crop-text-inner">
	      <p class="message-post">{{post.message}}</p>
	    </div>
	  </div>
	</div>
</div>