<div ng-show="Page.loadedOnce">

	<div ng-include=" 'header.html' " class="clearfix"></div>

	<hr>

	<h4>Vips preferidos</h4>

	<span class="span2" ng-repeat="category in Categories" ng-show="pagesByCategory[category].length">
		<span class="muted">{{category}}</span>
		<table class="table table-bordered" style="width: auto;">
			<tr ng-repeat="page in pagesByCategory[category]">
				<td><input type="checkbox"></td>
				<td>{{page.name}}</td>
			</tr>
		</table>
	</span>
</div>