/* Put your css in here */




.btn-link {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.container {
	background: whitesmoke;
}

.signature {
	font-family: Radley, serif;
	font-size: 1.4em;
	color: white;
	background: purple;
	padding: 1px 10px;
	border-radius: 5px;
}

.tagline {
	color: purple;
	font-size: 1em;
	font-family: Radley, serif;
	margin-bottom: 5px;
}

.search {
	padding: 2px 4px !important; 
	margin: 5px 0px !important;
}

hr {
	margin-top: 10px;
	margin-bottom: 20px;
}

.thumbnail {
	background: white;
}

.crop {
    width: auto;
    height: 240px; 
    overflow: hidden;
}

.crop img {
     width: auto;
}


h4.name {
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}


.icon-play-circle{
  color: black;
  opacity: 0.7;
  text-shadow: 2px 2px 3px white;
}

.icon-play-circle:hover {
 color: purple;
 opacity: 0.7;
 text-shadow: 2px 2px 3px grey;
}

.crop-text {
    width: 100%;
    max-height: 5em; 
    overflow: auto;
}

.crop-text-inner {
	/*overflow: auto;*/
}

/*.crop-text p {
	width: auto;
}*/

.message {
	font-family: 'Radley', serif;
	font-size: 1.15em;
}

.crop-text::-webkit-scrollbar { 
    display: none; 
}

.thumbnails.newsfeed > li {
	margin-bottom: 60px !important;
}


.crop-post {
    width: auto;
    height: 490px; 
    overflow: hidden;
}

.message-post {
	font-family: 'Radley', serif;
	font-size: 1.5em;
}